<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="CienEstudiantesDijeron.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>

    <script>
        window.openWindow = (url, title, w, h) => {
            const left = (screen.width / 2) - (w / 2);
            const top = (screen.height / 2) - (h / 2);
            return window.open(url, title, 
                `toolbar=no, location=no, directories=no, status=no, menubar=no, 
                scrollbars=yes, resizable=yes, copyhistory=no, 
                width=${w}, height=${h}, top=${top}, left=${left}`);
        }
    </script>
</body>
</html>